<div class="card">
  <div class="card-body">
    <h5 *ngIf="routerId" class="card-title">Router {{routerId}}</h5>
    <table *ngIf="routingTable != null"
           class="table table-hover table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Destination</th>
        <th scope="col">Cost</th>
        <th *ngIf="!skipNextHop" scope="col">Next hop</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of routingTable; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{entry.destination}}</td>
        <td>{{entry.cost}}</td>
        <td *ngIf="!skipNextHop">{{entry.nextHop}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


