<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div id="visualisation">
</div>

<div style="display:flex; justify-content: center;">
<button style="margin:5px;" (click)="onAddNode('R')">Add router</button>
<button style="margin:5px;" (click)="onAddNode('PC')">Add PC</button>
<button style="margin:5px;" (click)="onAddEdge()">Add connection</button>
<br/>
<button style="margin:5px;" (click)="onRemoveEdge()">Remove selected connection</button>
<button style="margin:5px;" (click)="onRemoveNode()">Remove selected PC / router</button>
  <br/>
  <br/>
</div>

<br/>
<div style="display:flex; justify-content: center;">
  <b>Routing tables:</b>
</div>
<br/>
<div class="tablesContainer" style="display:flex; flex-wrap: wrap; justify-content: center;">
</div>
